__pycache__/
*.pyc
cfg/
venv/
tf2bd_lists/
.*.kate-swp
*.kate-swp
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
settings.ini
tf2bd_lists.json
userlist.json
playerlist.sentry_export.json
Sentry
Sentry.exe
